[submodule "aula2/lib/forge-std"]
	path = aula2/flipper/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "aula3/advance/lib/forge-std"]
	path = aula3/advance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "aula4/lib/forge-std"]
	path = aula4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "aula4/web3/lib/solady"]
	path = aula4/web3/lib/solady
	url = https://github.com/vectorized/solady
[submodule "aula5/web3/lib/forge-std"]
	path = aula5/web3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
